.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea
*.iml
/gradle
gradlew
gradlew.bat
*.apk
.vscode/settings.json
.kotlin/sessions/kotlin-compiler-5412025346646947870.salive
/app-compose/build
java_pid94503.hprof
/.kotlin
